<h1>Editando tipo de espacio</h1>

<% form_for(@tipoespacio) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :descripcion %><br />
    <%= f.text_field :descripcion %>
  </p>
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>

<%= link_to 'Editar', @tipoespacio %> |
<%= link_to 'Atras', tipoespacios_path %>
