<div id="week-container">
<h3>Extra</h3>
<%  weekly_calendar(@events.reject { |e| e.anio != 0}, :date => @search_by_date, :include_24_hours => true) do |w|  %>
  <%  w.week(:business_hours => params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>

<div id="week-container">
<h3>#1 :Primer Año</h3>
<%  weekly_calendar(@events.reject { |e| e.anio != 1}, :date => @search_by_date, :include_24_hours => true) do |w|  %>
  <%  w.week(:business_hours => params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>

<div id="week-container">
<h3>#2 :Segundo Año</h3>
<%  weekly_calendar(@events.reject { |e| e.anio != 2}, :date => @search_by_date, :include_24_hours => true) do |w|  %>
  <%  w.week(:business_hours => params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>

<div id="week-container">
<h3>#3 :Tercer Año</h3>
<%  weekly_calendar(@events.reject { |e| e.anio != 3}, :date => @search_by_date, :include_24_hours => true) do |w|  %>
  <%  w.week(:business_hours => params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>

<div id="week-container">
<h3>#4 :Cuarto Año</h3>
<%  weekly_calendar(@events.reject { |e| e.anio != 4}, :date => @search_by_date, :include_24_hours => true) do |w|  %>
  <%  w.week(:business_hours => params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>

<div id="week-container">
<h3>#5 :Quinto Año</h3>
<%  weekly_calendar(@events.reject { |e| e.anio != 5}, :date => @search_by_date, :include_24_hours => true) do |w|  %>
  <%  w.week(:business_hours => params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>

<br>
<br>
<p>Espacios libres a las <%= Time.now.strftime '%H:%M' %>: </p>
<ul>
<% @free_spaces.each do |space| %>
 <li> <%= link_to space.codigo + ' - ' + space.descripcion, '/eventos/new?espacio_id=' + space.id.to_s  %></li>
<% end %>
</ul>
<p>Buscar por fecha</p>
<% form_tag do %>
  <%= select_date @search_by_date %>
  <%= collection_select :carrera, :carrera_id, Carrera.all, :codigo, :nombre %>
  <%= submit_tag(value = 'Buscar') %> <%= link_to 'Ir a hoy', '/eventos/browse_by_day?start_day=' + Time.now.strftime('%Y-%m-%d') %>
<% end %>
<hr>
<!--
<%= @calendar.export %>
<hr>
<% @calendar.events.each do |event| %>
  <p>
  DTSTART: <%= event.dtstart %><br>
  DTEND: <%= event.dtend %><br>
  DESC: <%= event.description %><br>
  RECCURR: <%= event.rrule %><br>
  Espacio: <%= Espacio.find(:first, :conditions => {:id => event.location}).codigo %></p>
<% end %>
-->
<%= link_to 'Volver al indice', root_path %>
