<div class="floating-block">
  <% form_tag do %>
    <p>
      Fecha <br/> <%= select_datetime @search_by_date %>
    </p>
    <p>
      Espacio <br /> <%= select :espacio, :espacio_id, options_for_select([['Todos', 'all']], :selected => @espacio_selected) + options_for_select(Espacio.all.collect{ |e| [e.codigo, e.id] }, :selected => @espacio_selected.to_i) %>
    </p>
    <p><%= submit_tag(value = 'Buscar') %> <%= link_to 'Ir a hoy ahora', root_path %></p>
  <% end %>
</div>

<div id="free-spaces-block">
  <%= render :partial => "free_spaces" %>
</div>

<br/>
<div id="week-container">
<% if @espacio_selected.nil? or @espacio_selected == 'all' %>
  <% show_espacios = Espacio.all %>
<% else %>
  <% show_espacios = [Espacio.find :first, :conditions => {:id => @espacio_selected}] %>
<% end %>
<% show_espacios.each do |espacio| %>
    <% weekly_calendar(@events.find_all{|e| e.location == espacio.id}, :date => @search_by_date, :include_24_hours => false, :title => espacio.codigo) do |w|  %>
      <%  w.week(:business_hours => false) do |event,truncate|  %>
        <!-- <%=  event.starts_at.strftime('%I:%M%p') %> -->
       <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
       <% end -%>
    <% end -%>
  <hr>
<% end %>
</div>
