<% form_tag do %>
  <p>
  Fecha <br /> <%= select_date @search_by_date %>
  <%= link_to 'Ir a hoy', '/eventos/browse_by_day?start_day=' + Time.now.strftime('%Y-%m-%d') %>
  </p>
  <p>
    Carrera <br />
    <%= select :carrera, :carrera_id, options_for_select(Carrera.all.collect{ |c| [c.nombre, c.codigo] }, :selected => @carrera_selected.to_i) %>
  </p>
  <!-- <%= label :ver_horas, "Ver 24 Horas" %>
   <%= check_box_tag :ver_horas %> -->
  <%= submit_tag(value = 'Buscar') %>
<% end %>
<hr />
<!-- This function is not supported yet
<b><%= link_to 'Turno Tarde', '/eventos/browse_by_day?business_hours=true' %></b> |
<b><%= link_to '24 Horas', '/eventos/browse_by_day?business_hours=false' %></b>
-->
<div id="week-container">
<!-- Existe un calendario para cada año de la carrera, por eso se rechaza de la lista events todos los que no sean correspondientes al año !-->
<%  weekly_calendar(@events.reject { |e| e.anio != 0}, :date => @search_by_date, :include_24_hours => false, :title => 'Extra') do |w|  %>
  <%  w.week(:business_hours => @business_hours || params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>
<hr />
<div id="week-container">
<%  weekly_calendar(@events.reject { |e| e.anio != 1}, :date => @search_by_date, :include_24_hours => false, :title => '1º Año') do |w|  %>
  <%  w.week(:business_hours => params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>
<hr />
<div id="week-container">
<%  weekly_calendar(@events.reject { |e| e.anio != 2}, :date => @search_by_date, :include_24_hours => false, :title => '2º Año') do |w|  %>
  <%  w.week(:business_hours => params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>
<hr />
<div id="week-container">
<%  weekly_calendar(@events.reject { |e| e.anio != 3}, :date => @search_by_date, :include_24_hours => false, :title => '3º Año') do |w|  %>
  <%  w.week(:business_hours => params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>

<div id="week-container">
<%  weekly_calendar(@events.reject { |e| e.anio != 4}, :date => @search_by_date, :include_24_hours => false, :title => '4º Año') do |w|  %>
  <%  w.week(:business_hours => params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>
<hr />
<div id="week-container">
<%  weekly_calendar(@events.reject { |e| e.anio != 5}, :date => @search_by_date, :include_24_hours => false, :title => '5º Año') do |w|  %>
  <%  w.week(:business_hours => params[:business_hours]) do |event,truncate|  %>
    <%=  link_to truncate(event.name,truncate), '/eventos/' + event.original_id.to_s  %>
  <% end -%>
<% end -%>
</div>

<br>
<br>
<%= render :partial => 'free_spaces', :object => @free_spaces %>
<hr>
<%= link_to 'Volver al indice', root_path %>
