<h1>Editar evento</h1>

<% form_for(@evento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= label :evento, :description, "Asunto/Razon del evento: " %>
    <%= @evento.description %>
  </p>

  <p>
    <%= "Fecha: #{@evento.dtstart.strftime('%d-%m-%Y')}" %>
  </p>
  <p>
    <%= "De: #{@evento.dtstart.strftime '%H:%M'} a  #{@evento.dtend.strftime '%H:%M'}" %>
  </p>

  <p>
    <%= label :evento, :espacio_id, "Espacio asignado" %><br />
    <%= collection_select :evento, :espacio_id, Espacio.all, :id, :descripcion %>
  </p>

  <p>
    <%= label :evento, :exdate, "Agreagar Ocaciones Especiales" %><br />
    <%= select_datetime DateTime.now %> <br /> <br />
    <%= button_to_function "Agregar Exepcion", "document.getElementById('evento_exdate').value=document.getElementById('evento_exdate').value + document.getElementById('date_day').value + '-' + document.getElementById('date_month').value + '-' + document.getElementById('date_year').value + '#{@evento.dtstart.strftime ' %H:%M:00'}' +  " + '"\n"' + ";" %>
    <%= f.text_area :exdate, :rows => 3 %> <br />

    <%= button_to_function "Agregar Ocurrencia", "document.getElementById('evento_rdate').value=document.getElementById('evento_rdate').value + document.getElementById('date_day').value + '-' + document.getElementById('date_month').value + '-' + document.getElementById('date_year').value + ' ' + document.getElementById('date_hour').value + ':' + document.getElementById('date_minute').value + ':00' + " + '"\n"' + ";" %>
    <%= f.text_area :rdate, :rows => 3 %>
  </p>

  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>

<%= link_to 'Detalle', @evento %> |
<%= link_to 'Atras', eventos_path %>
