<h1>Listing eventos</h1>

<table id="event-list">
  <tr>
    <th>Asunto</th>
    <th>Inicio</th>
    <th>Fin</th>
    <th>Recurr?</th>
    <th>Frecuencia</th>
    <th>Dia</th>
    <th>Cada...</th>
    <th>Espacio</th>
  </tr>

<% @eventos.each do |evento| %>
  <tr>
    <td><%=h evento.description %></td>
    <td><%=h evento.dtstart.to_s[0..15] %></td>
    <td><%=h evento.dtend.to_s[0..15] %></td>
    <td><%=h "SI" if evento.reccurrent %>
        <%=h "NO" if not evento.reccurrent %></td>
    <td><%=h evento.freq %></td>
    <td><%=h evento.byday %></td>
    <td><%=h evento.interval %></td>
    <td>
    <% begin %>
      <%=h Espacio.find(:first, :conditions => {:id => evento.espacio_id}).codigo %>
    <% rescue => e %>
      N/D
    <% end %></td>
    <td><%= link_to 'Show', evento %></td>
    <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
    <td><%= link_to 'Destroy', evento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New evento', new_evento_path %>
<%= link_to 'Volver al indice', root_path %>
