<h1>New evento</h1>

<% form_for(@evento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :event_data %><br />
    <%= f.text_field :event_data %>
  </p>
  <p>
    <%= f.label :dtstart %><br />
    <%= f.text_field :dtstart %>
  </p>
  <p>
    <%= f.label :dtend %><br />
    <%= f.text_field :dtend %>
  </p>
  <p>
    <%= f.label :freq %><br />
    <%= f.text_field :freq %>
  </p>
  <p>
    <%= f.label :bydate %><br />
    <%= f.text_field :bydate %>
  </p>
  <p>
    <%= f.label :interval %><br />
    <%= f.text_field :interval %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', eventos_path %>
