<h1>New evento</h1>

<% form_for(@evento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :dtstart %><br />
    <%= f.datetime_select :dtstart %>
  </p>
  <p>
    <%= f.label :dtend %><br />
    <%= f.datetime_select :dtend %>
  </p>
  <p>
    <%= f.label :freq %><br />
    <%= f.radio_button :freq, "DAILY" %> Diario <br/>
    <%= f.radio_button :freq, "WEEKLY" %> Semanal
  </p>
  <p>
    <%= f.label :byday %><br />
    <%= f.radio_button :byday, "MO" %> Lunes <br/>
    <%= f.radio_button :byday, "TU" %> Martes <br/>
    <%= f.radio_button :byday, "WE" %> Miercoles <br/>
    <%= f.radio_button :byday, "TH" %> Jueves <br/>
    <%= f.radio_button :byday, "FR" %> Viernes <br/>
    <%= f.radio_button :byday, "SA" %> Sabado <br/>
    <%= f.radio_button :byday, "SU" %> Domingo <br/>
  </p>
  <p>
    <%= f.label :interval %><br />
    <%= f.text_field :interval %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>

  <p> Espacios </p>
  <%= collection_select :espacio, :espacio_id, Espacio.all, :id, :nombre %>


<% end %>

<%= link_to 'Back', eventos_path %>
