<h1>Nuevo evento</h1>

<% form_for(@evento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= label :evento, :description, "Descripcion << Materia" %><br />
    <%= f.text_field :description %><<
    <%= select_tag( "lista-materias", options_for_select(['']) + options_for_select(Materia.all.collect {|p| [ p.nombre ]}), {:onchange => "javascript: document.getElementById('evento_description').value=document.getElementById('lista-materias').value;"})%><br />
  <p>
    <%= label :evento, :dtstart, "Fecha y hora de inicio del evento" %><br />
    <%= f.datetime_select :dtstart %>
  <p>
    <%= label :evento, :dtend, "Hora de fin" %><br />
    <%= f.time_select :dtend %>
  </p>
  <p>
    <%= label :evento, :reccurrent, "Se repite periodicamente?" %>
    <%= f.check_box :reccurrent %>
  </p>
  <p>
    <%= label :evento, :freq, "Frecuencia" %><br />
    <%= f.radio_button :freq, "DAILY" %> Diario <br/>
    <%= f.radio_button :freq, "WEEKLY" %> Semanal
  </p>
  <p>
    <%= label :evento, :byday, "Dia de la semana" %><br />
    <%= f.radio_button :byday, "MO" %> LUN
    <%= f.radio_button :byday, "TU" %> MAR
    <%= f.radio_button :byday, "WE" %> MIE
    <%= f.radio_button :byday, "TH" %> JUE
    <%= f.radio_button :byday, "FR" %> VIE
    <%= f.radio_button :byday, "SA" %> SAB
    <%= f.radio_button :byday, "SU" %> DOM
  </p>
  <p>
    Repetir cada: <%= select :evento, :interval, [1,2,3,4,5] %> dias/semanas
  </p>

  <p>
    <%= label :evento, :espacio_id, "Espacio asignado" %><br />
    <%= collection_select :evento, :espacio_id, Espacio.all, :id, :codigo %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Atras', eventos_path %>
