<%= javascript_include_tag "nuevo_evento_disabled" %>

<% form_for(@evento) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= label :evento, :description, "Descripcion" %><br />
    <%= f.text_field :description %><br>
    Carrera
    <div id="carrera"><%= select_tag( "lista_carreras", options_for_select(['']) + options_for_select(Carrera.all.collect {|p| [ p.nombre, p.codigo ]}), :onchange => " #{remote_function(:url  => {:action => :get_materias}, :with => "'carrera_id='+value")}")%></div>
    <br>
    Materia
    <div id="materias"><%= render :partial => 'materias', :object => @lista_materias %></div>
  </p>
  <p>
    <%= label :evento, :dtstart, "Fecha y hora de inicio del evento" %><br />
    <%= f.datetime_select :dtstart %>
  <p>
    <%= label :evento, :dtend, "Hora de fin" %><br />
    <%= f.time_select :dtend %>
  </p>
  <p>
    <%= label :evento, :reccurrent, "Se repite periodicamente?" %>
    <%= f.check_box :reccurrent, :onchange => "newEventDisabled();" %>
  </p>
  <p>
    <%= label :evento, :renddate, "Fin de la recurrencia" %><br />
    <%= f.datetime_select :renddate, :disabled => "true" %>
  </p>
  <p>
    <%= label :evento, :freq, "Frecuencia", :disabled => "true" %><br />
    <!-- la opcion de diario fue eliminada !-->
    <%= f.radio_button :freq, "WEEKLY", :disabled => "true", :checked => "true" %> Semanal
  </p>
  <p>
    <%= label :evento, :byday, "Dia de la semana" %><br />
    <%= f.radio_button :byday, "MO", :disabled => "true" %> LUN
    <%= f.radio_button :byday, "TU", :disabled => "true" %> MAR
    <%= f.radio_button :byday, "WE", :disabled => "true" %> MIE
    <%= f.radio_button :byday, "TH", :disabled => "true" %> JUE
    <%= f.radio_button :byday, "FR", :disabled => "true" %> VIE
    <%= f.radio_button :byday, "SA", :disabled => "true" %> SAB
    <%= f.radio_button :byday, "SU", :disabled => "true" %> DOM
  </p>
  <p>
    Repetir cada: <%= select :evento, :interval, [1,2,3,4,5] %> dias/semanas
  </p>

  <p>
    <%= label :evento, :espacio_id, "Espacio asignado" %><br />
    <%= collection_select :evento, :espacio_id, Espacio.all, :id, :descripcion, :disabled => "true" %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= javascript_tag "newEventDisabled();" %>

<%= link_to 'Atras', eventos_path %>
