<h4>Detalle del evento</h4>

<p>
  <b>Razon del evento:</b>
  <%=h @evento.description %>
</p>

<p>
  <b>Fecha y hora de inicio:</b>
  <%=h @evento.dtstart.to_s[0..15] %>
</p>

<p>
  <b>Hora de finalizado:</b>
  <%=h @evento.dtend.to_s[0..15] %>
</p>

<p>
  <b>Es recurrente?</b>
  <%=h @evento.reccurrent %>
</p>

<p>
  <b>Frecuencia:</b>
  <% if @evento.freq == "DAILY" %>
    Diario (se repite todos los dias)
  <% elsif @evento.freq == "WEEKLY" %>
    Semanal (se repite cada semana)
  <% else %>
    No se repite
  <% end %>

</p>

<p>
  <b>Dia de recurrencia:</b>
  <%= case @evento.byday 
    when "MO" then "Lunes"
    when "TU" then "Martes"
    when "WE" then "Miercoles"
    when "TH" then "Jueves"
    when "FR" then "Viernes"
    when "SA" then "Sabado"
    when "SU" then "Domingo"
    else "No se repite"
  end %>
</p>

<p>
  <b>Omisiones (cada X semanas/dias):</b>
  <%= @evento.interval %>
</p>

<p>
  <b>Espacio asignado:</b>
  <% begin %>
    <%=h Espacio.find(:first, :conditions => {:id => @evento.espacio_id}).codigo %>
  <% rescue => e %>
    Sin Espacios
  <% end %>
</p>


<%= link_to 'Edit', edit_evento_path(@evento) %> |
<%= link_to 'Back', eventos_path %>
