<h1>Editando materia</h1>

<% form_for(@materia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :codigo_carrera %><br />
    <%= f.text_field :codigo_carrera %>
  </p>
  <p>
    <%= f.label :codigo_plan %><br />
    <%= f.text_field :codigo_plan %>
  </p>
  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :anio, "Año" %><br />
    <%= select :materia, :anio, [1,2,3,4,5] %>
  </p>
  <p>
    <%= f.submit 'Actualizar' %>
  </p>
<% end %>

<%= link_to 'Detalle', @materia %> |
<%= link_to 'Atras', materias_path %>
