<h1>Listing materias</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Nombre</th>
  </tr>

<% @materias.each do |materia| %>
  <tr>
    <td><%=h materia.codigo %></td>
    <td><%=h materia.nombre %></td>
    <td><%= link_to 'Show', materia %></td>
    <td><%= link_to 'Edit', edit_materia_path(materia) %></td>
    <td><%= link_to 'Destroy', materia, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New materia', new_materia_path %>