<p>
  <b>Codigo:</b>
  <%=h @materia.codigo %>
</p>
<p>
  <b>Codigo Carrera:</b>
  <%=h @materia.codigo_carrera %>
</p>
<p>
  <b>Codigo Plan:</b>
  <%=h @materia.codigo_plan %>
</p>

<p>
  <b>Nombre:</b>
  <%=h @materia.nombre %>
</p>
<p>
  <b>Año</b>
  <%=h @materia.anio %>
</p>


<%= link_to 'Editar', edit_materia_path(@materia) %> |
<%= link_to 'Atras', materias_path %>
