<p>
  <b>Codigo:</b>
  <%=h @espacio.codigo %>
</p>

<p>
  <b>Descripcion:</b>
  <%=h @espacio.descripcion %>
</p>

<p>
  <b>Capacidad:</b>
  <%=h @espacio.capacidad %>
</p>

<p>
  <b>Tipo:</b>
  <%=h Tipoespacio.find(:first, :conditions => {:id => @espacio.tipoespacio_id}).nombre %>
</p>


<%= link_to 'Editar', edit_espacio_path(@espacio) %> |
<%= link_to 'Atras', espacios_path %>
