<p>Autenticacion no habilitada aun. Antes de acceder habra una peticion de login para el usuario que quiera
acceder a la aplicacion</p>
<h3>Indice general</h3>
<h4>ABMs</h4>
<%= link_to "Carreras", :controller => "carreras", :action => "index" %><br>
<%= link_to "Planes", :controller => "plans", :action => "index" %><br>
<%= link_to "Materias", :controller => "materias", :action => "index" %><br>
<br>
<%= link_to "Espacios", :controller => "espacios", :action => "index" %><br>
<%= link_to "Eventos", :controller => "eventos", :action => "index" %><br>
<%= link_to "Tipo Espacios", :controller => "tipoespacios", :action => "index" %>
<br>
<br>
<h4>Otros links</h4>
<%= link_to "Listar usuarios", :controller => "users", :action => "index" %><br>
<%= link_to "Login", :controller => "sessions", :action => "new" %><br>
<%= link_to "Registrarse", :controller => "users", :action => "new" %><br>
<%= link_to "Desloguearse", :controller => "sessions", :action => "destroy" %>




