<h1>Lista de plans</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Codigo de Carrera</th>
    <th>Nombre</th>
  </tr>

<% @plans.each do |plan| %>
  <tr>
    <td><%=h plan.codigo %></td>
    <td><%=h plan.codigo_carrera %></td>
    <td><%=h plan.nombre %></td>
    <td><%= link_to 'Detalle', plan %></td>
    <% if current_user.tipo == 'a' %>
      <td><%= link_to 'Editar', edit_plan_path(plan) %></td>
      <td><%= link_to 'Eliminar', plan, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo plan', new_plan_path %><br>
<%= link_to 'Volver al indice', root_path %>
