<!-- app/views/calendario/new.html -->

<% form_tag 'asd' do %>
  <p>
    <%= label_tag(:param1, "param1: ") %>
    <%= text_field_tag(:param1) %>
  </p>
  <p>
    <%= label_tag(:param2, "param2: ") %>
    <%= text_field_tag(:param2) %>
  </p>
  <p>
    <%= submit_tag("Process") %>
  </p>
<% end %>


