<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Distroaulas - Administracion de espacios</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'weekly' %>
  <%= javascript_include_tag :all %>
</head>
<body>

  <div id="banner">
        <%= image_tag "ucse.jpg" %>
        <h1>Universidad Catolica de Santiago del Estero</h1>
  </div>

  <div id="menu">
    <h2>Distroaulas</h2>
    <h4>ABMs</h4>
    <div id="item">
    <%= link_to "Eventos", {:controller => "eventos", :action => "index"}, :id => "item" %><br/>
    </div>
    <br />

    <div id="item">
    <%= link_to "Espacios", {:controller => "espacios", :action => "index"}, :id => "item" %><br/>
    </div>
    <div id="item">
    <%= link_to "Tipo Espacios", {:controller => "tipoespacios", :action => "index"}, :id => "item" %>
    </div>
    <br />

    <div id="item">
    <%= link_to "Carreras", {:controller => "carreras", :action => "index"}, :id => "item" %><br/>
    </div>
    <div id="item">
    <%= link_to "Planes", {:controller => "plans", :action => "index"}, :id => "item" %><br/>
    </div>
    <div id="item">
    <%= link_to "Materias", {:controller => "materias", :action => "index"}, :id => "item" %><br/>
    </div>

    <h4>Otros links</h4>
    <div id="item">
    <%= link_to "Eventos del Dia", {:controller => "eventos", :action => "browse_by_day"}, :id => "item" %><br/>
    </div>
    <div id="item">
    <%= link_to "Eventos por espacio", {:controller => "eventos", :action => "browse_by_space"}, :id => "item" %><br/>
    </div>
    <div id="item">
    <%= link_to "Listar usuarios", {:controller => "users", :action => "index"}, :id => "item" %><br/>
    </div>
    <div id="item">
    <%= link_to "Login", {:controller => "sessions", :action => "new"}, :id => "item" %><br/>
    </div>
    <div id="item">
    <%= link_to "Registrarse", {:controller => "users", :action => "new"}, :id => "item" %><br/>
    </div>
    <div id="item">
    <%= link_to "Desloguearse", {:controller => "sessions", :action => "destroy"}, :id => "item" %>
    </div>
  </div>

  <div id="contenido">
      <div id="info">
        <% if flash[:notice].nil? == false %>
        <%= image_tag "atencion.png", :size => "32x32" %>
        <p style="color: green"><%= flash[:notice] %></p>
        <% end %>
      </div>
 
     <%= yield %>
  </div>


</div>


</body>
</html>
