<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Distroaulas - Administracion de espacios</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'weekly' %>
  <%= javascript_include_tag :all %>
</head>
<body>

  <div id="info">
    <% if flash[:notice].nil? == false %>
    <%= image_tag "atencion.png", :size => "32x32" %>
    <p style="color: green"><%= flash[:notice] %></p>
    <% end %>
  </div>

  <h2>Distroaulas</h2>

  <div id="contenido">
        <%= yield %>
  </div>


</div>


</body>
</html>
